/* Created by: Stella S
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color:	lavender;
}

p {
  background-color: rgb(200, 184, 219);
  padding: 40px;
  font-size: 15pt;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}


h4 {
  background-color: rgb(213, 179, 255);
  padding: 40px;
	text-align: center;
}